@charset "utf-8";
.container {
  min-width: 320px;
}
.button {
  background: #e72e0d;
  color: #fff;
  width: vw(615);
  height: vw(130);
  line-height: vw(130);
  text-align: center;
  display: block;
  font-size: rem2(28);
  margin: 0 auto;
  transition: .3s ease-out;
  &:hover {
    opacity: 0.8;
  }
}

h3 {
  font-size: rem2(38);
  text-align: center;
  color: #000;
  line-height: vw(26);
  margin-bottom: vw(70);
  font-family: 'renner';
}
p {
  color: #000;
  font-size: rem2(30);
  line-height: vw(48);
}
