@charset "utf-8";
body,
td,
th,
input,
textarea {
  font-family: "YuGothic";
}
img {
  width: 100%;
}

.show_sp {
  display: block;
}
.show_pc {
  display: none;
}
.target {
	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
	transform: translate(0,20px);
	opacity: 0;
  &.action {
  	transform: translate(0,0);
  	transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  	opacity: 1;
  }
}
