

@font-face {
    font-family: 'renner';
    src: url('https://indestructibletype-fonthosting.github.io/renner_400_book-webfont.woff2') format('woff2'),
         url('https://indestructibletype-fonthosting.github.io/renner_400_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
